<footer class="bg-gray-800 text-white py-6">
    <div class="container mx-auto flex justify-between items-center">
      <div class="flex space-x-6">
        <a href="/about" class="text-gray-300">About Us</a>
        <a href="/services" class="text-gray-300">Services</a>
        <a href="/contact" class="text-gray-300">Contact</a>
      </div>
  
      <div class="text-center">
        <p class="text-gray-400">2025 Your Company Name</p>
        <p class="text-gray-400">Privacy Policy | Terms of Service</p>
      </div>
  
      <div class="flex space-x-6">
        <a href="https://facebook.com/yourcompany" class="text-gray-300">Facebook</a>
        <a href="https://twitter.com/yourcompany" class="text-gray-300">Twitter</a>
        <a href="https://linkedin.com/company/yourcompany" class="text-gray-300">LinkedIn</a>
      </div>
    </div>
  </footer>
  