<footer class="bg-yellow-900 text-white py-6">
    <div class="container mx-auto flex justify-between items-center">
      <div class="flex space-x-6">
        <a href="/about" class="text-orange-100">Homepage</a>
        <a href="/services" class="text-orange-100"></a>
        <a href="/contact" class="text-orange-100">Music Drag Drop</a>
      </div>
  
      <div class="text-center">
        <p class="text-orange-100">2025 SoundSage Productions</p>
        <p class="text-orange-100">Privacy Policy | Terms of Service</p>
      </div>
  
      <div class="flex space-x-6">
        <a href="https://facebook.com/yourcompany" class="text-orange-100">Lyrical Note</a>
        <a href="https://twitter.com/yourcompany" class="text-orange-100">Sheet Breakdown</a>
        <a href="https://linkedin.com/company/yourcompany" class="text-orange-100">Team</a>
      </div>
    </div>
  </footer>