
<footer class="bg-[#6F4E37] text-white py-6">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex space-x-6">
      <a href="index.html" class="text-orange-100">Homepage</a>
      <a href="" class="text-orange-100"></a>
      <a href="/contact" class="text-orange-100">Music Drag Drop</a>
    </div>

    <div class="text-center">
      <p class="text-orange-100">2025 SoundSage Productions</p>
      <p class="text-orange-100">Privacy Policy | Terms of Service</p>
    </div>

    <div class="flex space-x-6">
      <a href="Lyricalnote.html" class="text-orange-100">Lyrical Note</a>
      <a href="Sheetbreakdown.html" class="text-orange-100">Sheet Breakdown</a>
      <a href="Team.html" class="text-orange-100">Team</a>
    </div>
  </div>
</footer>
