</style>
<nav class="flex items-center bg-tom-thumb-600 p-3 flex-wrap bg-[#6F4E37]">
      <a href="index.html" class="p-1 mr-4 inline-flex items-center">
        <div>
          <img class="h-10 md:h-20" src="/src/components/images/Logo.png" alt="the logo">
        </div>
  
      </a>
      <button
        class="text-white inline-flex p-3 hover:bg-gray-100 rounded lg:hidden ml-auto hover:text-white outline-none nav-toggler"
        data-target="#navigation"
      >
        
      </button>
      <div
        class="hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto"
        id="navigation"
      >
        <div
          class="lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto w-full lg:items-center items-start  flex flex-col lg:h-auto"
        >
          <a
            href="index.html"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded-3xl text-[#F8EDE3] items-center justify-center hover:bg-[#b19174] hover:text-white"
          >
            <span>Homepage</span>
          </a>
          <a
            href="MusicDragDrop.html"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded-3xl text-[#F8EDE3] items-center justify-center hover:bg-[#b19174] hover:text-white"
          >
            <span>Upload</span>
          </a>
          
          <a
       4     href="Lyricalnote.html"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded-3xl text-[#F8EDE3] items-center justify-center hover:bg-[#b19174] hover:text-white"
          >
            <span>Lyrical</span>
          </a>
          <a
            href="Sheetbreakdown.html"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded-3xl text-[#F8EDE3] items-center justify-center hover:bg-[#b19174] hover:text-white"
          >
            <span>Sheet</span>
          </a>
          
          <a
            href="Team.html"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded-3xl text-[#F8EDE3] items-center justify-center hover:bg-[#b19174] hover:text-white"
          >
            <span>Team</span>
          </a>
          <a
          href="Contactform.html"
          class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded-3xl text-white items-center justify-center hover:bg-[#b19174] hover:text-white"
        >
          <span>Contact</span>
        </a>

        </div>
      </div>
    </nav>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script>
  $(document).ready(function() {
  $(".nav-toggler").each(function(_, navToggler) {
    var target = $(navToggler).data("target");
    $(navToggler).on("click", function() {
      $(target).animate({
        height: "toggle"
      });
    });
  });
});

</script>







