
<nav class="sticky top-0 z-50 bg-[#693718] shadow-md">
    <ul class="flex justify-end space-x-8 p-4 pr-8">
      <li><a href="index.html" class="text-orange-100 border border-orange-200 bg-yellow-900 py-2 px-6 rounded-full hover:shadow-lg hover:shadow-orange-200 transition-all duration-300">HOMEPAGE</a></li>
      <li><a href="MusicDragDrop.html" class="text-orange-100 border border-orange-200 bg-yellow-900 py-2 px-6 rounded-full hover:shadow-lg hover:shadow-orange-200 transition-all duration-300">MUSIC DRAG DROP</a></li>
      <li><a href="Lyricalnote.html" class="text-orange-100 border border-orange-200 bg-yellow-900 py-2 px-6 rounded-full hover:shadow-lg hover:shadow-orange-200 transition-all duration-300">LYRICAL NOTE</a></li>
      <li><a href="Sheetbreakdown.html" class="text-orange-100 border border-orange-200 bg-yellow-900 py-2 px-6 rounded-full hover:shadow-lg hover:shadow-orange-200 transition-all duration-300">SHEET BREAKDOWN</a></li>
      <li><a href="Team.html" class="text-orange-100 border border-orange-200 bg-yellow-900 py-2 px-6 rounded-full hover:shadow-lg hover:shadow-orange-200 transition-all duration-300">TEAM</a></li>
    </ul>
  </nav>

