
  <nav class="sticky top-0 z-50 bg-[#6F4E37] shadow-md">
    <ul class="flex justify-end space-x-8 p-4 pr-8"><li><a href="index.html" class="text-[#6B4F4F] border border-[#b4977a] bg-[#D4B499] py-2 px-6 rounded-full hover:shadow-lg hover:shadow-[#37200c] transition-all duration-300">HOMEPAGE</a></li>
      <li><a href="MusicDragDrop.html" class="text-[#6B4F4F] border-[#301e0c] bg-[#D4B499] py-2 px-6 rounded-full hover:shadow-lg hover:shadow-[#37200c] transition-all duration-300">MUSIC DRAG DROP</a></li>
      <li><a href="Lyricalnote.html" class="text-[#6B4F4F] border border-[#301e0c] bg-[#D4B499] py-2 px-6 rounded-full hover:shadow-lg hover:shadow-[#37200c] transition-all duration-300">LYRICAL NOTE</a></li>
      <li><a href="Sheetbreakdown.html" class="text-[#6B4F4F] border border-[#301e0c] bg-[#D4B499] py-2 px-6 rounded-full hover:shadow-lg hover:shadow-[#37200c] transition-all duration-300">SHEET BREAKDOWN</a></li>
      <li><a href="Team.html" class="text-[#6B4F4F] border border-[#301e0c] bg-[#D4B499] py-2 px-6 rounded-full hover:shadow-lg hover:shadow-[#37200c] transition-all duration-300">TEAM</a></li>
      <li><a href="Contactform.html" class="text-[#6B4F4F] border border-[#301e0c] bg-[#D4B499] py-2 px-6 rounded-full hover:shadow-lg hover:shadow-[#37200c] transition-all duration-300">CONTACT</a></li>
    </ul>
  </nav>




